@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<main class="main" id="top">
    <div class="container" data-layout="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }</script>
        <div class="row flex-center min-vh-100 py-6">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <a class="d-flex flex-center mb-4" href="/index.html"><img class="me-2" src="~/assets/img/logo-transparent-1000.png" alt="" width="400" /></a>
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row flex-between-center mb-2">
                            <div class="col-auto">
                                <h5>Your email has been confirmed</h5>
                            </div>
                        </div>


                        <a href="@Model.ReturnAfterRegistrationUrl" class="btn btn-primary">Continue</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</main>