@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/identity/account/login" class="btn btn-primary">Login</a><br />
    <a href="/identity/account/register" class="btn btn-primary">Register</a><br />
    <a href="/identity/account/logout" class="btn btn-primary">Logout</a><br />
    <a href="/home/privacy" class="btn btn-primary">Privacy</a>
</div>
