@model healthspanmd.web.Models.Content.ContentCardPreviewViewModel


<a href="/Content/@Model.ContentCardId">
    <div class="row">
        <div class="col">
            <h3>@Model.Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="@Model.CardImageSrc" style="width:100%;" />
        </div>
        <div class="col">
            @Model.Description
        </div>
    </div>
</a>