<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <style>
            body {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <div style="margin-top: 20px;">
            @RenderBody()
        </div>
        <br /><br />
        Thank you for using HealthspanMD!
        <br />
        <img src="healthspanmd_logo_2" style="width:400px;" />
    </body>
</html>