<!--begin::Aside toolbar-->
<div class="aside-toolbar py-5" id="kt_aside_toolbar">
	<!--begin::Aside select-->
	<div class="d-flex align-items-center flex-stack">
		<!--begin::Select-->
		<div class="me-3 flex-row-fluid">
			<select class="form-select form-select-white" data-control="select2" data-placeholder="Select Project" data-hide-search="true">
				<option value="1" selected="selected">Select Activity</option>
				<option value="2">Good CRM App</option>
				<option value="3">Oppo Booking Site</option>
				<option value="4">FinOptima SaaS</option>
				<option value="5">Degree Mobile App</option>
			</select>
		</div>
		<!--end::Select-->
		<a href="#" class="btn btn-icon border-0 btn-custom flex-shrink-0" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
			<span class="svg-icon svg-icon-2hx">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />
					<rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</a>
	</div>
	<!--end::Aside select-->
</div>
<!--end::Aside toolbar-->