<div class="container-fluid py-6 py-lg-0 d-flex flex-column flex-sm-row align-items-lg-stretch justify-content-sm-between">
	<div class="page-title d-flex flex-column me-5">
		<h1 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">@ViewData["Title"]</h1>
		<partial name="_TopBar_Breadcrumbs" />
	</div>
	@*<partial name="_TopBar_SearchRibbon" />*@
</div>
