@{
    ViewData["Title"] = "Home Page";
}
<h1>Weekly Reflection</h1>
<span class="text-gray-600">Friday, December 3</span>

<div class="mt-10 mb-10">
    <h3>It's time to fill out your weekly reflection</h3>
    Please fill this out as soon as possible so we can make any changes (or progressions!) to what we put in motion last week!
</div>

<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">Your WHY (Why is this so important and why is failure not an option)</label>
        <textarea class="form-control"></textarea>
    </div>
</div>
<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">
            What goals are you committed to achieving?
        </label>
        <div>
            This is the one or two things that are most important for you to accomplish in the next 3 months. 
            Be specific and realistic. While your long-term goal may be to lose 100 pounds, a realistic goal might be to lose 
        </div>
        <textarea class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">
            What EXACTLY will you do every day to get to achieve your commitment?
        </label>
        <div>
            Be specific, start with easily achievable daily goals and adjust with time.
        </div>
        <textarea class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">
            What went well this week and what accomplishment(s) are you celbrating?
        </label>
        <textarea class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">
            What didn't go well and what did you learn?
        </label>
        <textarea class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="mb-10 col-md-6">
        <label for="exampleFormControlInput1" class="form-label">
            What adjustments are needed to make next week a great week?
        </label>
        <textarea class="form-control"></textarea>
    </div>
</div>

